@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-primary: hsl(0, 0%, 98%);
    --font-family: 'Epilogue',sans-serif;
    --font-color-primary: hsl(0, 0%, 41%);
    --font-color-secondary: hsl(0, 0%, 8%);
    --font-size-primary: 18px;
    --font-weight-normal:500;
    --font-weight-heavy:700;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--font-family);
    border:none;
    outline:none;
    list-style: none;
}
button {
    cursor: pointer;
}

body {
   min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding:20px;
}

header nav,
header .auth {
    display:none;
}

.login-button,
.register-button {
    background: var(--bg-primary);
    color:var(--font-color-primary);
    font-size: 15px;
}

.login-button:hover,
.register-button:hover{
    color:var(--font-color-secondary);
}

.register-button {
    border:1px solid var(--font-color-secondary);
    padding:10px 50px;
    border-radius: 10px;
}

.hero-image-wrapper {
    width:100%;
}

.hero-image{
    width:100%;
    height: 100%;
    object-fit: contain;
}

.hero-content-wrapper {
    padding:20px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-bottom: 40px;
}

.content p {
    text-align: center;
    color:var(--font-color-primary);
    font-size: 15px;
}

.content button {
    background: var(--font-color-secondary);
    padding:15px 20px;
    border-radius: 15px;
    color:var(--bg-primary);
    font-weight: var(--font-weight-heavy);
    font-size:15px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.content button:hover {
    background-color:var(--bg-primary);
    color:var(--font-color-secondary);
    border:1px solid var(--font-color-secondary);
}


.partners{
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
}

.partners div {
    width:100%;
    display: flex;
    justify-content: center;
}

.partners img{
    width:80%;
}


