@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-primary: hsl(0, 0%, 98%);
    --font-family: 'Epilogue',sans-serif;
    --font-color-primary: hsl(0, 0%, 41%);
    --font-color-secondary: hsl(0, 0%, 8%);
    --font-size-primary: 18px;
    --font-weight-normal:500;
    --font-weight-heavy:700;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
   min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding:20px;
}

header nav,
header .auth {
    display:none;
}

